.footer{
    position: fixed;
    bottom: 0;
    left: 0 ;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    background: #fff;
    z-index: 9999;
    border-top:1px solid #a09898;
    a{
        flex:1;
        justify-content: center;
        display:flex;
        flex-direction: column;
        align-items: center; 
        padding:0.05rem 0;
        &:active{
            background: rgba(0,0,0,0.1)
        }
        span{
            color: #333
        }
    }
    .icon-dianying,.icon-my1{
        font-size: 28px;
        color: #333
    }
    .active i,.active span{
        color: #4ebf60 !important
    }
} 